#page-character {
    width: 80%;
    margin: auto;
}

.container,
.header {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 60%);
}

.header {
    height: 30px;
    width: 100%;
}

.value {
    /**/
}

#character-header {
    margin: 16px 0;
    display: flex;
    width: 40%;
}

#picture-container {
    height: 200px;
    width: 200px;
}

#character-picture {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

h2,
h3 {
    text-align: left;
}

h2 {
    font-size: 3.5rem;
    letter-spacing: 5px;
}

h3 {
    font-size: 1.5rem;
    color: gray;
}

#character-props {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#character-props>* {
    margin-right: 16px;
    width: 30%;

}

/*
/   FIRST COLUMN
*/
.attributes {
    width: 100%;
    margin-bottom: 16px;
    height: 100px;
    display: flex;
}

.attribute-modifier {
    display: flex;
    position: relative;
    width: 100px;
    height: 100px;
}

.value {
    margin: auto;
    align-self: center;
    font-size: 2rem;
}

.attribute-name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.skills {
    width: 70%;
}

.skills-list {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-left: 16px;
    -moz-column-count: 2;
    -moz-column-gap: 16px;
    -webkit-column-count: 2;
    -webkit-column-gap: 16px;
    column-count: 2;
    column-gap: 16px;
}

.skill-item {
    color: gray;
}

.saving-throw {
    color: black;
}

/*
/   SECOND COLUMN
*/

#in-combat-stats,
#health-stats {
    width: 100%;
    display: flex;
    gap: 16px;
}

#in-combat-stats>* {
    width: 33%;
}

#armor-class,
#speed,
#initiative {
    height: 100px;
}

#health-stats>* {
    width: 50%;
}

.first>*,
.second>* {
    margin: 16px 0;
}

/*
/   THIRD COLUMN
*/