#pc-list {
    width: 40%;
    margin: auto;
    background-color: rgba(255, 255, 255, 20%);
    border-radius: 20px;
    text-align: center;
}

.list-item {
    margin: auto;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}


.item {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
}

.pc-name {
    font-size: 2rem;
}

.pc-props {
    font-size: 1.25rem;
    color: rgb(128, 128, 128);
}

.pointer {
    font-size: 3rem;
    visibility: hidden;
}

.list-item:hover .pointer {
    visibility: visible;
}

.list-item:hover>* {
    color: #eb4034;

}

.list-item:hover .pc-props {
    color: #d4675f;
}

a {
    text-decoration: none;
    color: currentColor;
}

#create-character-button-container {
    width: 50%;
}

#character-level-button {
    background-color: rgba(255, 255, 255, 80%);
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#character-level-button:hover {
    background-color: rgba(255, 255, 255, 100%);

}

#no-match {
    font-size: 2rem;
}

@media screen and (max-width: 600px) {
    #create-character-button-container {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--redish);
        color: white;
    }
}