.App {
  text-align: center;
}

h1 {
  font-size: 3.5rem;
}

#create-character-button-container {
  height: 80px;
  width: 40%;
  margin: auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

#create-character-button {

  border: none;
  background: none;
  color: inherit;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 2rem;
}

#create-character-button-container:hover .pointer {
  visibility: visible;
}

#create-character-button-container:hover>* {
  color: red;
}

/* Home.tsx page*/
#character-class-filter,
#character-level-filter {
  width: 80%;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 3px dashed black;
  font-size: 1.4rem;
}

#character-level-filter {
  justify-content: center;
  gap: 20px;

}

.class-select {
  padding: 10px;
  cursor: pointer;
}

.class-select:hover {
  color: purple;
}

#class-select-active {
  color: red;
}