@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  /* background: rgb(172, 172, 172); */
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 95, 95, 1) 100%);
  background-attachment: fixed;
  --whiteHigh: rgba(255, 255, 255, 0.8);
  --whiteLow: rgba(255, 255, 255, 0.4);
  --redish: #FF5F5F;
  --gray: #707070;
  letter-spacing: 0.05rem;
}

html {
  margin: 0;

}

body {
  margin: 0;
  font-family: 'VT323', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 80px;
}

code {
  font-family: 'Overpass', sans-serif, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}